<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <appSettings>
    <add key="defaultConnection" value="mySqlCon" />
    <add key="logging" value="true" />
    <add key="tracing" value="true" />
    <add key="dateWiseLogTrace" value="true" />
    <add key="expenseCCY" value="INR [Rs.]" />
    <add key="supportMail" value="" />
    <add key="supportURL" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <!--string connectionString = @"Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\SunSpeedSolutions\Database\SunSpeed.accdb;Persist Security Info=False;";-->
    <!--<add name="MSAccessCon" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Practice\AccountPLus2.0\Database\AccountPlus.mdb;Jet OLEDB:Database Password=admin;" providerName="MSACCESS" />-->
    <add name="MSAccessCon" connectionString = "Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\IPC\Desktop\SunSpeedSolutions\Database\SunSpeed.accdb;Persist Security Info=False;" providerName="MSACCESS"/>
    <add name="mySqlCon" connectionString="Server=localhost;Port=3306;Database=sunspeed;Uid=root;Pwd=cool;allow user variables=true" providerName="MYSQL" />
    <add name="sqlServerCon" connectionString="Data Source=PRODSK0198;Initial Catalog=AccountPlus;User ID=sa;Password=Swayam1;" providerName="SQLSERVER" />
  </connectionStrings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>